/* 🐶  */
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div {
    border: none;
}

.imageHeaderMain {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.imageHeaderWrapper {}

.sidebarWrapper {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(56, 56, 56);
    margin-top: -5px;
    overflow: hidden;
}

.fullBrand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.allSectionWrapper {
    display: flex;
    gap: 10px;
}

.imageAndSidebarWrapper {
    align-items: center;
}

.logoMain {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.logo {
    height: 80px;
    width: 80px;
}

.brandName {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(255, 0, 0);

}

.sectionLinkMain {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0)
}

.sectionLinkWrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    background-color: rgb(83, 82, 82);
}

/* END OF HEADER TEMPLATE */
/* make a Fishbone Diagram in the index.html, where it shows fields about Hai Phong */
.container {
    /* margin: 0; */
    /* font-family: sans-serif; */
    background:
        url('./image/HoangVanThu.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100%;
    /* padding: 500px; */
    /* background: rgba(0, 0, 0, 0.7); */
}

/* body {
    background: rgba(0, 0, 0, 0.7);
} */
.timeline {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.timeline::before {
    content: "";
    height: 100%;
    width: 20px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.point {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;

}

.point:nth-child(even) {
    flex-direction: row-reverse;
}

.point>div {
    position: relative;
    width: calc(50% - 40px);
    padding: 15px;
    border: 5px solid black;
    border-radius: 15px;
    text-align: center;
}

.point>div::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 20px;
    top: 50%;
    right: 0;
    background-color: black;
    transform: translate(calc(100% + 4px), -50%);
}

.point:nth-child(even) > div::before {
    right: unset;
    left: 0;
    transform: translate(calc(-100% - 4px), -50%);
}

.point .imageMain {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.infoMain {
    font-size: 30px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}